<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
    <title>首页</title>
    <script type="text/javascript" src="/static/js/lib/util.js"></script>
    <style>
        .big-font {
            font-size: 36px;
            color: #666;
            line-height: 36px;
            padding: 5px 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="layui-fluid" style="padding: 0px">
        <form method="post" action="/login">
            <div>
                用户名：<input type="text" name="username">
            </div>
            <div>
                密码：<input type="password" name="password">
            </div>
            <div>
                <button type="submit">立即登陆</button>
            </div>
        </form>
    </div>
</div>
<script layout:fragment="custom-script">

</script>
</body>
</html>

